*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

section
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(275deg, #265b7c, #4a5221, #552132);
}

section .box
{
    max-width: 80%;
    color: #fff;
}

section .box h2
{
    font-size: 3em;
    color: #ffa502;
}

section .box p
{
    font-size: 1.2em;
    color: #5ce4ba;
}

canvas
{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #fff;
    z-index: 2;
    mix-blend-mode: screen;
}